<ion-content>

  <div class="player-of-day">
    <div class="player-of-day-image-container">
      <h2 class="special-title">Jugador del dia</h2>
      <img class="player-of-day-image" src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2020/05/07/15888520381671.jpg" alt="">
    </div>
    <h2>Pau gasol</h2>
  </div>

  <h2 class="title">Recomendaciones</h2>
  <ion-list lines="none" class="horizontal-list">
    <player-recomendation-card/>
    <player-recomendation-card/>
    <player-recomendation-card/>
    <player-recomendation-card/>
  </ion-list>

</ion-content>
