<ion-content>

  <ion-icon id="logout-alert" name="log-out-outline" size="large" aria-label="Favorite"/>
  <ion-alert trigger="logout-alert" class="custom-alert" header="¿Estas seguro de cerrar sesión?" [buttons]="alertButtons"/>

  <div class="user-content">

    <div class="user-welcome">
      <strong>Bienvenido,</strong>
      <h1> {{ user?.nombreUsuario }}</h1>
    </div>

    <div class="fav-players">

      <div class="fav-players-header">
        <h2 class="fav-players-title">Jugadores favoritos</h2>
        <ion-icon name="reload-outline" size="large" (click)="getFavorites()"/>
      </div>

      @if (!loading) {
        @if(!favPlayers) {
          <p class="no-content-message">No hay jugadores favoritos</p>
        } @else {

          <div class="list-players">
            @for (player of favPlayers; track $index) {
              <player-search-card [imageURL]="player.fotoCabeza" [name]="player.nombreCompleto"/>
            }
          </div>

        }
      } @else {
        <app-loader/>
      }

    </div>
  </div>
</ion-content>
