* {
  margin: 0;
}

.player_image_container {
  position: relative;
}

ion-buttons  {
  position: absolute;
  top: 1%;
  left: 1%;
}

.player-name {
  width: 100%;
  background: var(--ion-main-color);
  color: #fff;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.general-info {
  background: var(--ion-card-background-color);
  color: #fff;
  width: 100%;
  height: auto;
  padding: 5px;

  ion-col {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: justify;
    padding: 5px;
  }
}

img {
  width: 100%;
  vertical-align: middle;
  height: 30vh;
}

.trophies {
  background: var(--ion-secondary-color);
}

.horizontal-list {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  background: var(--ion-secondary-color);
  min-height: 15vh;
}

ion-segment {
  --background:var(--ion-main-color);
  color: #fff;
}

// ion-segment-button.md::part(indicator-background) {
//   height: 5px;

//   border-radius: 16px;
//   margin: 5px;
// }

.segment-button-checked.md::part(native) {
  color: var(--ion-selected-color);
}


.stats {
  &-section {
    overflow-x: auto;
    white-space: nowrap;
    height: 300px;
  }

  &-header {
    ul {
      list-style: none;
      display: flex;

      li {
        padding: 10px;
        background-color: #FF7F50;
        min-width: 75px;
        width: 15vw;
        text-align: center;
      }
    }
  }

  &-player {

    ul {
      list-style: none;
      display: flex;

      li {
        min-width: 75px;
        width: 15vw;
        padding: 10px;
        text-align: center;
      }

      li:nth-child(odd) {
        background: #808080;
      }
    }
  }
}

.teams-section {
  overflow-x: auto;
  white-space: nowrap;
  height: 300px;
}
