* {
  margin: 0;
}

.player-buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-button  {
  top: 1%;
  left: 1%;
}

.star-favorite {
  top: 1%;
  right: 1%;
  margin-right: 10px;
}

.player-name {
  width: 100%;
  background: var(--ion-main-color);
  color: #fff;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.general-info {
  background: var(--ion-card-background-color);
  color: #fff;
  width: 100%;
  height: auto;
  padding: 5px;
  text-align: center;

  ion-col {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: justify;


    span {
      font-size: small;
      color: var(--ion-secondary-text-color);
    }
  }
}

img {
  width: 100%;
  vertical-align: middle;
  height: 30vh;
}

.trophies {
  background: var(--ion-secondary-color);
  min-height: 15vh;

  strong {
    padding: 10px;
  }
}

.horizontal-list {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  background: var(--ion-secondary-color);
}

ion-segment {
  --background:var(--ion-main-color);
  color: #fff;
}

.segment-button-checked.md::part(native) {
  color: var(--ion-selected-color);
}


.stats {
  &-section {

    white-space: nowrap;
    height: 300px;
    overflow-x: auto;
    position: relative;
  }

  &-header {
    ul {
      list-style: none;
      display: flex;


      li {
        padding: 10px;
        background-color: #FF7F50;
        min-width: 90px;
        width: 15vw;
        text-align: center;
      }
    }
  }

  &-player {

    ul {
      list-style: none;
      display: flex;

      li {
        min-width: 90px;
        width: 15vw;
        padding: 10px;
        text-align: center;
      }

      li:nth-child(odd) {
        background: #808080;
      }
    }
  }
}

.teams-section {
  overflow-x: auto;
  white-space: nowrap;
  height: 300px;
}

.star-favorite {

  transition: all 0.5s;

  &:active {
    scale: (0.7);
    transform: translateY(4px);
  }
}
