

<ion-content>

  <div class="player_image_container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/search"></ion-back-button>
    </ion-buttons>
    <img [ngSrc]="player.fotoCompleta" priority loading="lazy">
  </div>



  <h2 class="player-name">#{{ player.dorsal }} {{ player.nombreCompleto | titlecase }}</h2>

  <ion-grid class="general-info">
    <ion-row>
      <ion-col>Posición:</ion-col>
      <ion-col>{{ player.posicion }}</ion-col>
      <ion-col>Nacimiento:</ion-col>
      <ion-col>{{ player.fnacimiento | date: "dd/MM/yyyy" }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>Altura:</ion-col>
      <ion-col>{{ player.altura }}Cm</ion-col>
      <ion-col>Peso:</ion-col>
      <ion-col>{{ player.peso }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>Nacionalidad:</ion-col>
      <ion-col>{{ player.nacionalidad }}</ion-col>
    </ion-row>
  </ion-grid>

  <div class="trophies">
    <ion-title>Premios:</ion-title>

    <div class="horizontal-list">
      <trophie-component trophieImage="https://i.pinimg.com/originals/4c/bd/84/4cbd84f6841df51b636fa7c3ca7aecbd.png" trophieQuantity="11" />
      <trophie-component trophieImage="https://i.pinimg.com/originals/4c/bd/84/4cbd84f6841df51b636fa7c3ca7aecbd.png" trophieQuantity="6" />
      <trophie-component trophieImage="https://i.pinimg.com/originals/4c/bd/84/4cbd84f6841df51b636fa7c3ca7aecbd.png" trophieQuantity="6" />
      <trophie-component trophieImage="https://i.pinimg.com/originals/4c/bd/84/4cbd84f6841df51b636fa7c3ca7aecbd.png" trophieQuantity="6" />
      <trophie-component trophieImage="https://i.pinimg.com/originals/4c/bd/84/4cbd84f6841df51b636fa7c3ca7aecbd.png" trophieQuantity="6" />
      <trophie-component trophieImage="https://i.pinimg.com/originals/4c/bd/84/4cbd84f6841df51b636fa7c3ca7aecbd.png" trophieQuantity="6" />
      <trophie-component trophieImage="https://i.pinimg.com/originals/4c/bd/84/4cbd84f6841df51b636fa7c3ca7aecbd.png" trophieQuantity="6" />
    </div>
  </div>

  <!--Ion segment-->
  <ion-segment [(ngModel)]="status" value="stats">
    <ion-segment-button value="stats">
      <ion-label>Estadísticas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="teams">
      <ion-label>Equipos</ion-label>
    </ion-segment-button>
  </ion-segment>

  @switch (status) {
    @case ('stats') {
      <div class="stats-section">
        <div class="stats-header">
          <ul>
            <li>Temp</li>
            <li>PJ</li>
            <li>PPP</li>
            <li>TC</li>
            <li>TL</li>
            <li>RPP</li>
            <li>APP</li>
            <li>STL</li>
            <li>BPP</li>
            <li>3PM</li>
            <li>3PERC</li>
          </ul>
        </div>
        <div class="stats-player">
          @for (stats of playerStats; track $index) {
            <ul>
              <li>{{ stats.season }}</li>
              <li>{{ stats.pj }}</li>
              <li>{{ stats.ppp }}</li>
              <li>{{ stats.tc }}%</li>
              <li>{{ stats.tl }}%</li>
              <li>{{ stats.rpp }}</li>
              <li>{{ stats.app }}</li>
              <li>{{ stats.stl }}</li>
              <li>{{ stats.blk }}</li>
              <li>{{ stats.pm3 }}%</li>
              <li>{{ stats.perc3 }}%</li>
            </ul>
            }
        </div>
      </div>
    }
    @case ('teams') {
      <div class="teams-section">
        @for (team of playerTeams; track $index) {
          <player-team-card [teamName]="team.nombreEquipo" [teamLogo]="team.imagenEquipo" />
        }
      </div>
    }
  }

</ion-content>
