<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [name]="currentTab === 'home' ? 'home' : 'home-outline'" size="large"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon [name]="currentTab === 'search' ? 'search' : 'search-outline'" size="large"></ion-icon>
      Buscar
    </ion-tab-button>
    <ion-tab-button tab="user">
      <ion-icon [name]="currentTab === 'user' ? 'person-circle' : 'person-circle-outline'" size="large"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
