img {
  width: 12em;
  height: 10em;
}

h2 {
  align-self: center;
  margin: 5px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10em;
  background: var(--ion-card-background-color);
  margin: 8px;
  border-radius: 16px;
}
