// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  /*Tab*/
  --ion-tab-background-color: #014f86;
  --ion-tab-color: #013a63;
  --ion-tab-selected: #89c2d9;

  /*Card of search*/
  --ion-card-background-color: #014f86;
}
