.card-container {
  display: flex;
  background: #333;
  margin: 5px;
  border-radius: 16px;
  justify-content: space-around;


  img {
    height: 20vh;
    width: 35vw;
    margin: 10px;
  }

  h2 {
    text-align: center;
    text-wrap: wrap;
    align-self: center;
    margin: 10px;
    font-size: 1.5em;
  }
}
